
html {   
min-width: 320px;   
max-width: 1300px; 
}


body {
    background-color: #E5E5E5;
    width: 100%;
    display: block;
    padding: 20px 0;
}

header {
    display: inline-block;
    vertical-align: top;
}
.logo {
    
    width: 120px;
    height: 48px;
    position: absolute;
    left: 50px;
    top: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

main {
    width: 1700px;
    display: inline-block;
    font: inherit;
}
.caja1{
    display: inline-block;
    max-width: 1200px;
    height: 540px;
    margin: 0 auto;
    
}
.encriptador {
    margin: 0 80px;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
.textEntrada {
    margin-top: 168px;
    font-size: 32px;
    color: #0A3871;
    resize: none;
    outline: none;
    border: 0;
    padding: 5.5px 10px;


    background: #E5E5E5;
    width: 100%;
    font-family: 'Inter' , sans-serif;

}

legend {
    
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    left: 50px;
    

    margin: 85px;
    padding: 0;
    border: 0;
}
.mensajeinf {
    color: #495057;
    font-size: 12px;
    margin-bottom: 30px;
}

div {
    display: block;
}


.button-encriptar {
    display: inline-block;
    margin-right: 24px;
    text-align: center;
    color: #D8DFE8;

    width: 300px;
    height: 55px;
    border-radius: 24px;
    font-size: 16px;

    background: #0A3871;
    border: 1px solid #0A3871;
    
  }

.button-desencriptar {
    display: inline-block;
    font-size: 16px;
    text-align: center;
    color: #0A3871;

    width: 300px;
    height: 55px;
    border-radius: 24px;
    font-size: 16px;

    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
  }
button {
    
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
}
.botones li {
    display: inline-block;
}
.rectangulo {

    margin-top: -48px;
    width: 400px;
    height: 550px;
    vertical-align: top;
    display: inline-block;

    background-color: #FFFFFF;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;   
    

}
.salidatext {
    margin: 0 32px;
    display: block;

    list-style: none;
}

.salidatext li{
    text-align: center;
    width: 100%;
}

li {
    display: list-item;
}

.salidacopiar {
    display: block;
    width: 90%;
    margin: 0 32px;
    text-align: center;
}
.muneco {
    margin-top: 75px;
    margin-bottom: 20px;
    margin: 0;
    padding: 0;
    
}

.ningun {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #343A40;
    display: block;

}

.ingresar {
    font-weight: 400;
    font-size: 16px;
    color: #343A40;
    display: block;

}
.textsalida {
    width: 90%;
    margin-top: 72px;
    padding: 16px;
    border: none;
    font-size: 24px;
    font-family: 'inter';
    color: #495057;
    background: #FFFFFF;
    text-align: center;
}

.copiar {
    display: inline;
    width: 300px;
    height: 55px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-size: 16px;
    text-align: center;
    color: #0A3871;
    background: #D8DFE8;
}

section {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    
}
.salidatext p {
    width: 100%;
    text-align: center;
}
ul {
    display: block;
    list-style: none;
}

textarea {
    writing-mode: horizontal-tb;
    text-rendering: auto;
    display: inline-block;

}






