
body {
    background: #F3F5FC;
}
header {
    margin-top: 10px;
}
.logo {
    padding: 1em;
}

main {
    width: 100%;
    height: 500px;
    display: flex; 
    justify-content: space-between;
}

section {
    width: 70%;
    margin: 0 auto;
    align-items: center;
    
}
.seccion_1 {
    width: 60%;
}

.textEntrada {
    width: 80%;
    height: 70%;
    display: block;
    margin: auto;
    margin-top: 20px;
    resize: none;
    border: none;
    margin-bottom: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    background: #F3F5FC;
}

::placeholder { color: #0A3871;}
    .textEntrada, .textsalida:focus {
        outline: none;
        
    }

.botones {
    font-family: 'Inter';
    font-style: normal;
    text-align:center;
    margin-top: 0;
}

.mensajeinf {
    font-family: 'Inter';
    font-style: normal;
    font-size: 12px;
    color: #495057;

    opacity: 0.9;

    margin-left: 10%;

}

.button-encriptar, .button-desencriptar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
    width: 40%;
    height: 60px;
    margin-left: 0px;  
    margin: 18px;
    font-weight: 400;
    font-size: 16x;
    line-height: 19px;
    
}

.button-encriptar  {
    color: #ffffff;
    background: #0A3871; 
    
}

.button-desencriptar {
    color: #0A3871; 
    
    
}

.seccion_2 {
    background-color: #ffffff;
    width: 30%;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    
}

.textsalida {
    width: 80%;
    height: 300px;
    display: block;
    margin: auto;
    text-align: center;
    resize: none;
    border: none;
    margin-top: 40px;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}
.salidatext {
    
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    width: 80%;
    height: 60px; 
    display: block;
    margin: auto;
    margin-top: 20px;
}
.muneco {
    width: 100%;


}

.infencriptado {
    width: 100%;
}
.ningun {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #343A40;
    margin: 1em;
    margin-top: 2em;
}


.button-copiar  {
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
    width: 80%;
    height: 60px; 
    display: block;
    margin: auto;
    font-weight: 400;
    line-height: 19px;

    color: #0A3871; 
    font-size: 16px;
    margin-top: 80px;
}
.boton-copiar {
    width: 80%;
    margin-left: 30px;
}

#rectAreaBoton{
    display: none;
}

@media screen and (max-width:480px){
    .muneco {
        display: none;
    }
    main {
        display: block;
        width: auto;
    }
    .button-encriptar, .button-desencriptar {
        
        display: block;
        width: 100%;
        
    }
    .seccion_1 {
        width: 80%;
    }

    .seccion_2 {
        width: 80%; 
        height: 200px;   
    }

    .textsalida {
        height: 120px;
        font-size: 16px;
        margin: auto;
        
    }
    .button-copiar  {
        width: 100%;
        margin-top: 0;
        text-align: center;
    }

    
}
